@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* MI CODIGO */
/*NavBar*/
@font-face {
  font-family: "ArminBlack";
  src: url("./font/Armin-Soft-Black.woff") format("woff");
}
@font-face {
  font-family: "ArminNormal";
  src: url("./font/Armin-Soft-Normal.woff") format("woff");
}
@font-face {
  font-family: "ArminRegular";
  src: url("./font/Armin-Soft-Regular.woff") format("woff");
}
@font-face {
  font-family: "ArminSemiBold";
  src: url("./font/Armin-Soft-Semi-Bold.woff") format("woff");
}
@font-face {
  font-family: "ArminVariable";
  src: url("./font/Armin-Soft-Variable.woff") format("woff");
}

* {
  font-family: "ArminNormal";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background-color: #FAFAFC;
}
.container{
  margin-left: 10%;
  margin-right: 10%;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 99;
  width: 100%;
  font-size: 1.2em;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(214, 214, 214, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(214, 214, 214, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(214, 214, 214, 0.75);
  height: 110px;
}
.cart{
  margin-top: 15px;
  font-size: 33px;
  color: #34295e;
}
.count-circle{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  position: relative;
  bottom: 33px;
  left: 20px;
  background-color: #f35931;
  text-align: center;
  font-weight: 700;
  color: white;
}

ul.link-items {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
}
ul.link-items li {
  color: #34295e;
  text-decoration: none;
}
li.mobile {
  display: none;
}
.carritoDeCompras{
  align-self: center;
}
.contacto {
  border: solid 3px #1B9B7E;
  padding: 10px 20px;
  border-radius: 40px;
}
.contacto:hover {
  align-self: center;
  border: solid 3px #1B9B7E;
  padding: 10px 20px;
  border-radius: 40px;
  color: white;
  font-weight: 600;
  background-color: #1B9B7E;
  cursor: pointer;
}
img.banner {
  object-fit: cover;
  width: 100%;
  display: block;
  margin-top: 0%;
}
.menu {
  display: none;
  border: solid black 1px;
  padding: 5px;
  border-radius: 3px;
}
.menu div {
  width: 26px;
  height: 2px;
  margin: 4px;
  background-color: black;
}
.menu div.linea2 {
  width: 20px;
}
/* Section shopping */
.shopping{
  display: flex;
  flex-wrap: wrap;
  padding-top: 120px;
  align-content: space-between;
  justify-content: space-between;
}

/* HomeArticle */
.product{
  margin: 30px;
  width: 250px;
  border-radius: 30px;
  border: solid white 1px;
  padding: 25px 30px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.2);
-moz-box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.2);
box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.2);
}
.flex{
  display: flex;
  align-items: center;
  position: relative;
}
.verDetalle{
  padding-top: 15px;
}
.derecha{
  position: absolute;
  right: 0px;
  top: 12px;
}
.img-article{
  margin: 0 auto;
  display: block;
  padding: 30px 0px;
  width: 100%;
}
.grey{
  color: #ADB5BD;
}
.Numberwidget{
  width: 85px;
  justify-content: space-between;
  padding-top: 14px;
  font-size: 26px;
  font-family: 'ArminVariable';
}
.number-prodcuts{
  font-size: 20px;
  font-weight: 500;
}
.icon-circle{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.2);
  box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.2);
  border: solid white 1px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.symbols{
  align-self: center;
}
.d-min{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #00BCA8;
}
.agregar{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.4);
  box-shadow: 0px 0px 10px 0px rgba(134,142,150,0.4);
  padding: 10px 20px;
  text-align: center;
  border-radius: 50px;
  border: none;
  color: white;
  background: -webkit-linear-gradient(top, #28d1aa 0%, #00a8a5 100%);
  font-weight: 700;
}
.agregar:hover{
  background: -webkit-linear-gradient(top, #00a8a5 0%, #28d1aa 100%);
}
/*RESPONSIVE*/
@media (max-width: 1300px) {
  ul.link-items {
    width: 60%;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: inline;
    background-color: white;
    position: absolute;
    height:85px;
  }
  nav.active {
    height: 60vh;
    transition: 0.5s ease;
  }
  picture {
    padding-left: 40%;
  }
  ul.link-items {
    flex-direction: column;
    height: 20vh;
    text-align: center;
    width: 100%;
    padding-top: 180px;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  ul.link-items li {
    border-bottom: #009886 1px solid;
    width: 70%;
    margin-left: 15%;
    padding: 15px;
    opacity: 0;
  }
  li.mobile {
    display: block;
  }
  p.contact {
    color: black;
  }
  .carritoDeCompras{
    align-self: center;
    position: absolute;
    top: 10px;
    right: 30px;
  }
  ul.link-items a {
    color: black;
  }
  .contacto.web {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    top: 30px;
    left: 40px;
    cursor: pointer;
  }
  ul.link-items-active {
    transform: translateX(0%);
  }
  .contacto-active {
    transform: translateX(0%);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .toggle .linea1 {
    transform: rotate(-45deg) translate(-4px, 5px);
    transition: 0.5s ease;
  }
  .toggle .linea2 {
    opacity: 0;
    transition: 0.3s ease;
  }
  .toggle .linea3 {
    transform: rotate(45deg) translate(-4px, -5px);
    transition: 0.5s ease;
  }
}
