@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* MI CODIGO */
/*NavBar*/
@font-face {
  font-family: "ArminBlack";
  src: url("components/assets/font/Armin-Soft-Black.woff") format("woff");
}
@font-face {
  font-family: "ArminNormal";
  src: url("components/assets/font/Armin-Soft-Normal.woff") format("woff");
}
@font-face {
  font-family: "ArminRegular";
  src: url("components/assets/font/Armin-Soft-Regular.woff") format("woff");
}
@font-face {
  font-family: "ArminSemiBold";
  src: url("components/assets/font/Armin-Soft-Semi-Bold.woff") format("woff");
}
@font-face {
  font-family: "ArminVariable";
  src: url("components/assets/font/Armin-Soft-Variable.woff") format("woff");
}

* {
  font-family: "ArminNormal";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  background-color: #FAFAFC;
}
.container{
  margin-left: 10%;
  margin-right: 10%;
}
